[submodule "pleak-frontend"]
	path = pleak-frontend
	url = git@github.com:pleak-tools/pleak-frontend.git
[submodule "pleak-backend"]
	path = pleak-backend
	url = git@github.com:pleak-tools/pleak-backend.git
[submodule "pleak-pe-bpmn-editor"]
	path = pleak-pe-bpmn-editor
	url = git@github.com:pleak-tools/pleak-pe-bpmn-editor.git
[submodule "pleak-guessing-advantage-editor"]
	path = pleak-guessing-advantage-editor
	url = git@github.com:pleak-tools/pleak-guessing-advantage-editor.git
[submodule "pleak-sql-analysis"]
	path = pleak-sql-analysis
	url = git@github.com:pleak-tools/pleak-sql-analysis.git
[submodule "pleak-leaks-when-analysis"]
	path = pleak-leaks-when-analysis
	url = git@github.com:pleak-tools/pleak-leaks-when-analysis.git
[submodule "pleak-leaks-when-ast-transformation"]
	path = pleak-leaks-when-ast-transformation
	url = git@github.com:pleak-tools/pleak-leaks-when-ast-transformation.git
[submodule "pleak-leakage-detection-analysis"]
	path = pleak-leakage-detection-analysis
	url = git@github.com:pleak-tools/pleak-leakage-detection-analysis.git
[submodule "sql-constraint-propagation"]
	path = sql-constraint-propagation
	url = https://github.com/fs191/sql-constraint-propagation
[submodule "pleak-sensitivities-editor"]
	path = pleak-sensitivities-editor
	url = git@github.com:pleak-tools/pleak-sensitivities-editor.git
